<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}로그아웃{% endblock %}</title>
    
    {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="2;url='/'">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block style %}
        <link rel="stylesheet" href="{% static 'bootstrap2/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap2/vendors/css/vendor.bundle.base.css' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap2/css2/style.css' %}"/>
        <link type="text/css" rel="stylesheet" 
            href="{% static 'bootstrap2/css/bootstrap.min.css' %}"/>
        <link rel="shortcut icon" href="{% static 'bootstrap2/images/favicon.png' %}" />
    {% endblock %}
    {% block script %}
        <script type="text/javascript" 
            src="{% static 'bootstrap2/js/bootstrap.min.js' %}"></script>
    {% endblock %}
</head>
<body>
<div class="alert alert-info" role="alert"  style="text-align:center">
  <h4 class="alert-heading">로그아웃 실행중입니다.</h4>
  <p>저희 ITs를 이용해 주셔서 감사합니다.</p>
  <hr>
  <p class="mb-0">Thank you for using ITs. Have a nice day!</p>
</div>
    <script src="{% static 'bootstrap2/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'bootstrap2/vendors/js/vendor.bundle.addons.js' %}"></script>
    <script src="{% static 'bootstrap2/js2/off-canvas.js' %}"></script>
    <script src="{% static 'bootstrap2/js2/misc.js' %}"></script>
    <script src="{% static 'bootstrap2/js2/dashboard.js' %}"></script>
</body>
</html>