{% extends 'itsapp/layout.html'%}

{% block title %}프로필{% endblock %}

{% block content %}
        
<div class="content-wrapper">
	<section class="profile_area">
	    <div class="container">
	    	<div class="profile_inner p_120">
				<div class="row">
					<div class="col-lg-5">
						<img class="img-fluid" src="{{ user.profile.image.url }}" width="350" height="350">
					</div>
					<div class="col-lg-7" align="center">
						<div class="personal_text" align="center">
	        				<br>
							<h4>Hello Everybody, I am</h4><br>
							<h3>{{ user.username }}</h3>
							<h4>{{ user.email }}</h4><br><br>
							<p> 기본적인 인적사항 </p>
							<div class="list basic_info">
								<ol><i class="mdi mdi-account"></i> {{user.last_name}}</ol>
								<ol><i class="mdi mdi-account"></i> {{user.first_name}}</ol>
							</div> 
						</div>
						<form class="pt-0.1" action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
        				{% csrf_token %}
        					{% for field in u_form %}
        					<div class="form-group">
          						{{ field }}
        					</div>
							{% endfor %}
							
							{% for field in p_form %}
        					<div class="form-group">
          						{{ field }}
        					</div>
							{% endfor %}
							
          					<div class="mt-3">
								<button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">Update</a>
          					</div>
						</form>
					</div>
				</div>
	    	</div>
	    </div>
	</section>
</div>

{% endblock %}