{% extends 'post/layout.html' %}

{% block title %}댓글 목록{% endblock %}

{% block script %}
	{% load static %}
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'bootstrap2/js2/comment.js' %}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>

    {{ form.media }}
{% endblock %}

{% block style %} 
	{{ block.super }}

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap2/css2/comment.css' %}" />

{% endblock %}


{% block content %}
	<div class="container-fluid h-100" style="background: #7F7FD5; background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);">
		<div class="row justify-content-center h-100">
			<div class="col-md-8 col-xl-6 chat">
				<div class="card-body msg_card_body">
					<div class="input-group">
						<form action="." method="POST">
							{% csrf_token %}
							{{ form.message }}
							<div class="input-group-append float-right">
								<input class="btn btn-outline-primary" type="submit" value="등록"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}



